* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

:root {
    --bg: red;
    --textcolor1: green;
    --textcolor2: orange;
    --textcolor3: yellow;
    --textcolor4: blue;
    --border-radius1: 16px;
}

body {
    background: var(--bg);
}